################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project DBMS/3ttest.cs
/Project DBMS/3ttest.cs
